#settings-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

#settings-container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;

	margin: 3em auto;
	padding: 2em;
	width: 40%;
	border-radius: 0.4em;
}

#settings-container:not(:last-child) {
	border-bottom: 1px solid;
	border-bottom-color: gray;
	padding: 2em;
	background-color: aqua;
}

.input-fat {
	font-family: "Yo Mama", sans-serif;
	margin: 1em 0 0;
	padding: 0.5em 1em;
	border: 0;
	border-radius: 0.2em;
	background-color: rgb(240, 240, 240);
	outline: none;
}

input[type=number]::-webkit-inner-spin-button {
	opacity: 1
}