
@font-face {
	font-family: "Yo Mama";
	src: url("fonts/arial-mt-bold.TTF");
}

body {
	font-family: "Yo Mama", sans-serif;
	margin: 0;
	padding: 0;
	display: grid;
	place-items: center;
	height: 100vh;
	overflow: hidden;
}

#time-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translate(0, -10%);
}

#clock-face {
	font-weight: bold;
}

#btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-fat {
	font-family: "Yo Mama", sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	background-color: rgb(240, 240, 240);
}

#reset-btn {
	background: rgb(240, 240, 240) url("icons/reset-icon-dark.png") no-repeat center;
}

#settings-btn {
	background: rgb(240, 240, 240) url("icons/gear-icon-dark.png") no-repeat center;
}

@media (min-width: 500px) {
	#clock-face {
		font-size: 15rem;
	}

	#btn-container {
		gap: 1rem;
	}

	.button-fat {
		width: 8rem;
		font-size: 5rem;
		margin: 1rem 0 0 0;
		padding: 1rem 2.5rem;
		border: 0;
		border-radius: .75rem;
		box-shadow: rgb(220, 220, 220) 0 1rem 0;
	}

	.button-fat:active, .toggled {
		transform: translate(0, 1rem);
		box-shadow: none;
	}

	#timer-btn {
		width: 20rem;
	}

	#reset-btn {
		background-size: 5rem;
	}

	#settings-btn {
		background-size: 5rem;
	}
}
